/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#verifyHeading {
    font-size: 24px;
    margin-bottom: 1px;
}

#verifySubtext {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666;
	justify-content:center;
}

.code-container {
    display: flex;
}

.code {
    width: 70px;
    height: 100px;
    font-size: 24px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

.firstDiv{
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius:10px;
	align-items: center;
	height:55vh;
	padding:30px
}
